[Desktop Entry]
Type=Application
Name=[BETA] Firestorm Second Life Viewer
GenericName=Second Life Viewer
Comment=A feature-packed third-party viewer for Second Life
Exec=/usr/bin/firestorm-beta
Icon=firestorm-beta
Terminal=false
Categories=Game;Simulation;Chat;InstantMessaging;3DGraphics
