[Desktop Entry]
Name=[BETA] Firestorm Viewer
Categories=Game;Simulation;Chat;InstantMessaging;3DGraphics;
Comment=A feature-packed third-party viewer for Second Life (beta version)
Exec=/usr/bin/firestorm-beta
GenericName=Second Life Viewer
Icon=firestorm-beta
Keywords=Virtual;World;Metaverse;Client;
StartupNotify=true
StartupWMClass=do-not-directly-run-firestorm-bin
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
